{
  "bot": {
    "token": "discordbottoken",
    "prefix": "!",
    "debug": false
  },
  "lbrycrd": {
    "port": 9245,
    "user": "lbry",
    "pass": "lbry"
  },
  "sandboxchannel": "#369896313082478594",
  "privatechannel": "#371620338263523328"
}
