{
  "bot": {
    "token": "discordbottoken",
    "prefix": "!",
    "debug": true,
    "intents": [
      "guilds",
      "guildEmojis",
      "guildMembers",
      "guildMessages",
      "guildMessageReactions",
      "directMessages",
      "directMessageReactions"
    ]
  },
  "lbrycrd": {
    "port": 9245,
    "username": "lbry",
    "password": "lbry"
  },
  "sandboxchannel": "#369896313082478594"
}
